{% extends 'base.html' %}

{% block title %}home{% endblock title %}
{% block content  %}
<footer class="footer">
    <div class="footer-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-section">
                        <h4 class="footer-section-title">About Charity</h4>
                        <!-- /.footer-section-title -->

                        <div class="footer-section-body">
                            <p>Charity vitae diam pulvinar, tempus dia aliquam tellus. Quisque mattis odio eu placerat luctus. Vivamus magna elit, ultrices non lacinia vel, tempor vitae tell Fusce sit amet sem sit amet.</p>
                        </div>
                        <!-- /.footer-section-body -->
                    </div>
                    <!-- /.footer-section -->
                </div>
                <!-- /.columns large-3 medium-12 -->

                <div class="col-md-3">
                    <div class="footer-section">
                        <h4 class="footer-section-title">Quick Links</h4>
                        <!-- /.footer-section-title -->

                        <div class="footer-section-body">
                            <ul class="list-links">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>

                                <li>
                                    <a href="about-us.html">About Us</a>
                                </li>

                                <li>
                                    <a href="activities.html">Activities</a>
                                </li>
                                <li>
                                    <a href="projects.html">Projects</a>
                                </li>

                                <li>
                                    <a href="gallery.html">Gallery</a>
                                </li>

                                <li>
                                    <a href="contact.html">Contact Us</a>
                                </li>

                            </ul>
                            <!-- /.list-links -->

                        </div>
                        <!-- /.footer-section-body -->
                    </div>
                    <!-- /.footer-section -->
                </div>
                <!-- /.columns large-3 medium-12 -->

                <div class="col-md-3">
                    <div class="footer-section">
                        <h4 class="footer-section-title">Newsletter Signup</h4>
                        <!-- /.footer-section-title -->

                        <div class="footer-section-body">
                            <p>Select your newsletters, enter your email address, and click "Subscribe"</p>

                            <div class="subscribe">
                                <form action="?" method="post">
                                    <input type="submit" value="Go" class="subscribe-btn">

                                    <div class="subscribe-inner">
                                        <input type="email" id="mail" name="mail" value="" placeholder="Email Address" class="subscribe-field">
                                    </div>
                                    <!-- /.subscribe-inner -->
                                </form>
                            </div>
                            <!-- /.subscribe -->
                        </div>
                        <!-- /.footer-section-body -->
                    </div>
                    <!-- /.footer-section -->
                </div>
                <!-- /.columns large-3 medium-12 -->

                <div class="col-md-3">
                    <div class="footer-section">
                        <h4 class="footer-section-title">Contact Us</h4>
                        <!-- /.footer-section-title -->

                        <div class="footer-section-body">
                            <p><b>Address:</b> Dumila Juu, Dumila-Kilosa, Morogoro, Tanzania</p>

                            <div class="footer-contacts">
                                <p>
                                    <b>
                                        <i class="fa fa-phone"></i> Phone:
                                    </b> +255-623-812-123
                                </p>

                                <p>
                                    <b>
                                        <i class="fa fa-envelope-o"></i> Email:
                                    </b> info@ummu-aic.com
                                </p>
                            </div>
                            <!-- /.footer-contacts -->
                        </div>
                        <!-- /.footer-section-body -->
                    </div>
                    <!-- /.footer-section -->
                </div>
                <!-- /.columns large-3 medium-12 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.footer-body -->

    <div class="bwt-footer-copyright">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="left-text">Copyright &copy; Ummu Aymani Islamic Center 2022. All Rights Reserved</div>
                </div>
                <div class="col-md-6">
                    Designed and Developed By
                    <a href="w" style="text-decoration:none;">Vevacodes</a>
                </div>

            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootsnav.js' %}"></script>
<script src="{% static 'js/banner.js' %}"></script>
<script src="{% static 'js/jquery.swipebox.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {

        /* Basic Gallery */
        $('.swipebox').swipebox();

        /* Video */
        $('.swipebox-video').swipebox();

        /* Dynamic Gallery */
        $('#gallery').click(function(e) {
            e.preventDefault();
            $.swipebox([{
                href: 'http://swipebox.csag.co/mages/image-1.jpg',
                title: 'My Caption'
            }, {
                href: 'http://swipebox.csag.co/images/image-2.jpg',
                title: 'My Second Caption'
            }]);
        });

    });
</script>
<script src="{% static 'js/script.js' %}"></script>


{% endblock  content %}
  