
    {% extends 'base.html' %}
    {% load static %}
    {% block title %}projects{% endblock title %}
    {% block content  %}
    

    <section id="inner-banner">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>PROJECTS</h1>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="breadcrumb"><a href="index.html">Home</a> / Projects</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="pro-sec">
        <div class="container">
            <div class="row text-center" style="margin-top:-30px;">



                <div class="col-md-4 clearfix top-off">
                    <div class="grid-image"><img src="images/community01.png"></div>
                    <div class="post-content">
                        <h3>Nepal Earthquake: Clean Water Initiative</h3>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="projects.html" title="">View Project</a>

                    </div>

                </div>
                <div class="col-md-4 clearfix top-off">
                    <div class="grid-image"><img src="images/donate_01.png"></div>
                    <div class="post-content">
                        <h3>Nepal Earthquake: Clean Water Initiative</h3>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="projects.html" title="">View Project</a>
                    </div>
                </div>
                <div class="col-md-4 clearfix top-off">
                    <div class="grid-image"><img src="images/act-bg_01.png"></div>
                    <div class="post-content">
                        <h3>Nepal Earthquake: Clean Water Initiative</h3>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="projects.html" title="">View Project</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="callout">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Change Their World. Change Yours. This changes everything.</h2>
                    <!-- /.callout-title -->
                </div>
                <!-- /.columns large-6 -->

                <div class="col-md-6">
                    <div class="callout-actions">
                        <a href="contact.html" class="button">Become Volunteer</a>

                        <span class="callout-separator">
						<span>Or</span>
                        </span>

                        <a href="donate.html" class="button">Donate For Cause</a>
                    </div>
                    <!-- /.callout-actions -->
                </div>
                <!-- /.columns large-6 -->
            </div>
            <!-- /.row -->
        </div>
    </div>

    
    {% include "footer.html" %}
    
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootsnav.js' %}"></script>
    <script src="{% static 'js/banner.js' %}"></script>
    <script src="{% static 'js/jquery.swipebox.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
    
            /* Basic Gallery */
            $('.swipebox').swipebox();
    
            /* Video */
            $('.swipebox-video').swipebox();
    
            /* Dynamic Gallery */
            $('#gallery').click(function(e) {
                e.preventDefault();
                $.swipebox([{
                    href: 'http://swipebox.csag.co/mages/image-1.jpg',
                    title: 'My Caption'
                }, {
                    href: 'http://swipebox.csag.co/images/image-2.jpg',
                    title: 'My Second Caption'
                }]);
            });
    
        });
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    
    
    {% endblock  content %}
      